@model RS.DataModel.RathoreDetailModel
@using RS.DataModel;

@{
    ViewBag.Title = "Update Rathore Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1 style="color:#146eb0;text-align:left">राठौर जानकारी सुधार करे </h1>
<hr />
<ol class="breadcrumb">
    <li><a href="#">प्रारम्भ</a></li>
    <li><a href="#">राठौर जानकारी</a></li>
    <li class="active">जानकारी सुधार</li>
</ol>

@using (Html.BeginForm("EditRathoreDetail", "RathoreDetails", FormMethod.Post, new { role = "form", @novalidate = "novalidate" }))
{
    <div class="row text-right" style="padding-right:10px">
        @Html.ActionLink("Back", "Index", "RathoreDetail", new { @class = "btn btn-default" }) &nbsp;
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <br />

    <div class="row" style="margin: 4px">
        
            @if (ViewBag.Saved == true)
            {
                <div class="alert alert-success" role="alert">@ViewBag.Message</div>
            }
        

        <div class="alert alert-warning" role="alert"><span class="text-required">*</span> की हुई जानकारी प्रदान करना अनिवार्य है |</div><br />
        <b style="font-size:16px;color:red">** कृपया जानकारी अंग्रज़ी मे अंकित करे, ये खोजने मे ज्यादा मददगार होगा. </b>

    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            जरूरी जानकारी
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <label for="Name">पूरा नाम</label> <span class="text-required">*</span>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Full Name", @maxlength = 100 })
                        @Html.HiddenFor(model => model.RathoreDetailId)
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="col-sm-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <label for="FatherName">पिता का नाम </label> <span class="text-required">*</span>
                        @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control", placeholder = "Father Name", @maxlength = 100 })
                        @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="col-sm-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">माता का नाम </label> <span class="text-required">*</span>
                        @Html.TextBoxFor(model => model.MotherName, new { @class = "form-control", placeholder = "Mother Name", @maxlength = 100 })
                        @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-error" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <label for="DateOfBirthFormated">जन्म तारीख</label> <span class="text-required">*</span>
                        @Html.TextBoxFor(model => model.DateOfBirthFormated, new { @class = "form-control", placeholder = "Date Of Birth", @type = "date", @maxlength = 10 })
                        @Html.ValidationMessageFor(model => model.DateOfBirthFormated, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="col-sm-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <label for="PhoneNumber">फ़ोन नंबर </label> <span class="text-required">*</span>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number", @maxlength = 10 })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="col-sm-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <label for="Occupation">ईमेल</label>
                        @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", placeholder = "Email ID", @maxlength = 100 })
                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-error" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <label for="IsMarried">शादी होंगे </label>
                        @Html.EditorFor(model => model.IsMarried, new { @class = "form-control", @maxlength = 100 })
                        @*@Html.EditorFor(model => model.IsMarried, new { @class = "checkbox" })*@
                        @*@Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-error" })*@
                    </div>
                </div>
                <div class="col-sm-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <label for="SpouseName">पति या पत्नी का नाम </label>
                        @Html.TextBoxFor(model => model.SpouseName, new { @class = "form-control", placeholder = "SpouseName", @maxlength = 100 })
                        @Html.ValidationMessageFor(model => model.SpouseName, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="col-sm-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <label for="Occupation">लिंग</label><span class="text-required">*</span>
                        @Html.DropDownListFor(model => model.Gender, new SelectList(Model.GenderDropDown, "Key", "Value", "--Select Gender--"), new { @class = "form-control", placeholder = "Occupation", @maxlength = 10 })
                        @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-error" })
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                रहने के स्थान की  जानकारी
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="CurrentCountryName">वर्तमान देश </label>
                            @Html.EditorFor(model => model.CurrentCountryName, new { @class = "form-control", placeholder = "Occupation", @maxlength = 100 })
                            @Html.ValidationMessageFor(model => model.CurrentCountryName, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="CurrentStateName">वर्तमान राज्य </label> <span class="text-required">*</span>
                            @Html.EditorFor(model => model.CurrentStateName, new { @class = "form-control", placeholder = "Final Education", @maxlength = 100 })
                            @Html.ValidationMessageFor(model => model.CurrentStateName, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="CurrentDistrictName">वर्तमान जिला  </label> <span class="text-required">*</span>
                            @Html.EditorFor(model => model.CurrentDistrictName, new { @class = "form-control", placeholder = "Current District", @maxlength = 100 })
                            @Html.ValidationMessageFor(model => model.CurrentDistrictName, "", new { @class = "text-error" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="CurrentLocationName">वर्तमान स्थान</label> <span class="text-required">*</span>
                            @Html.EditorFor(model => model.CurrentLocationName, new { @class = "form-control", placeholder = "Current Location", @type = "date", @maxlength = 10 })
                            @Html.ValidationMessageFor(model => model.CurrentLocationName, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="CurrentAddress">वर्तमान पता </label>
                            @Html.TextBoxFor(model => model.CurrentAddress, new { @class = "form-control", placeholder = "CurrentAddress", @maxlength = 200 })
                            @Html.ValidationMessageFor(model => model.CurrentAddress, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="NativeCountryName">स्थायी  देश </label> <span class="text-required">*</span>
                            @Html.EditorFor(model => model.NativeCountryName, new { @class = "form-control", placeholder = "NativeCountry", @maxlength = 100 })
                            @Html.ValidationMessageFor(model => model.NativeCountryName, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="NativeStateName">स्थायी राज्य  </label> <span class="text-required">*</span>
                            @Html.EditorFor(model => model.NativeStateName, new { @class = "form-control", placeholder = "NativeState", @maxlength = 100 })
                            @Html.ValidationMessageFor(model => model.NativeStateName, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="NativeDistrictName">स्थायी जिला </label> <span class="text-required">*</span>
                            @Html.EditorFor(model => model.NativeDistrictName, new { @class = "form-control", placeholder = "NativeDistrict", @maxlength = 10 })
                            @Html.ValidationMessageFor(model => model.NativeDistrictName, "", new { @class = "text-error" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="NativeLocationName">स्थायी स्थान</label> <span class="text-required">*</span>
                            @Html.EditorFor(model => model.NativeLocationName, new { @class = "form-control", placeholder = "Native Location", @type = "date", @maxlength = 10 })
                            @Html.ValidationMessageFor(model => model.NativeLocationName, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="NativeAddress">स्थायी पता  </label>
                            @Html.TextBoxFor(model => model.NativeAddress, new { @class = "form-control", placeholder = "Native Address", @maxlength = 200 })
                            @Html.ValidationMessageFor(model => model.NativeAddress, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                अतरिक्त जानकारी
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="CurrentCountryName">व्यवसाय </label>
                            @Html.TextBoxFor(model => model.Occupation, new { @class = "form-control", placeholder = "Occupation", @maxlength = 100 })
                            @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">
                            <label for="CurrentStateName">शिक्षा  </label>
                            @Html.TextBoxFor(model => model.FinalEducation, new { @class = "form-control", placeholder = "Final Education", @maxlength = 100 })
                            @Html.ValidationMessageFor(model => model.FinalEducation, "", new { @class = "text-error" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-4 col-lg-4">
                        <div class="form-group">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        if (Session["LoginSuccesFull"] != null && ((LoginModel)Session["LoginSuccesFull"]).Role == 99)
        {
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Login Detail
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-sm-4 col-lg-4">
                            <div class="form-group">
                                <label for="UserName">UserName </label>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "User Name", @maxlength = 100 })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-error" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-4 col-lg-4">
                            <div class="form-group">
                                <label for="Password">Password  </label>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", @maxlength = 100 })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-error" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-4 col-lg-4">
                            <div class="form-group">
                                <label for="Password">Role  </label>
                                @Html.TextBoxFor(model => model.Role, new { @class = "form-control", placeholder = "Role", @maxlength = 100 })
                                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-error" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/application/admin/EditRathoreDetails.js"></script>
