<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rathore Samaj</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/FSGridmvc.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<link src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-lg-12 text-right" style="background-color:#f7f1f1;font-size:14px">
            &nbsp; <i class="fa fa-phone" aria-hidden="true" style="color:red"></i>
            7799190555 | &nbsp;<i class="fa fa-envelope" aria-hidden="true" style="color:green"></i> passion.software2013@gmail.com |
            &nbsp;<i class="fa fa-user-circle" aria-hidden="true"> @Html.ActionLink("Login", "Index", "Login", new {  Area="Admin"},new { }) </i>
        </div>

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="#"><img width="50" src="images/rathore-rajput-logo-wallpapers.jpg" style="border: solid 2px #ebed5d" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "activelink" : "")">@Html.ActionLink("Home ", "Index", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "About" ? "activelink" : "")">@Html.ActionLink("About", "Index", "About")</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "RathoreDetail" ? "activelink" : "")">@Html.ActionLink("Rathore Detail", "Index", "RathoreDetail")</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "News" ? "activelink" : "")">@Html.ActionLink("News", "Index", "News")</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Event" ? "activelink" : "")">@Html.ActionLink("Events", "Index", "Event")</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Gallary" ? "activelink" : "")">@Html.ActionLink("Gallary", "Index", "Gallary")</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Contacts" ? "activelink" : "")">@Html.ActionLink("Contact Us ", "Index", "Contacts")</li>
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:120px">
        @RenderBody()
      
       
    </div>
    <div class="footer col-md-12 " style="padding-top: 10px; padding-bottom: 10px; height: 50px; font-size: 16px; font-family: Calibri; color: #f0ad4e; text-align:right">

        <p style="margin-left:20px;">  &copy; Rathore  Samaj - 2017 - <span style="color:orangered"> Designed and Code by <b> Passion software</b></span></p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
